{% extends 'base.html'%}
{%load bootstrap3%}

{% block content %}
<div class="container-fluid">
  <br>
  <br>
  
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <div class="card border-primary">
            <div class="card-header">New Project</div>
            <div class="card-body text-primary">
                <form  method="post" action="{%url 'post'%}" enctype="multipart/form-data">
                  {% csrf_token %}
                  {%bootstrap_form form%}
                  <div class="form-group w3-center">
                    <input type="submit" class=" w3-center w3-margin w3-button w3-theme-d5" value="Post">
                  </div>
                  <input type="hidden" name="next" value="{{next}}">
                </form>
            </div>
          </div>
    </div>
    <div class="col-md-4">
      
    </div>
  </div>
</div>
{{form.media}}
{%endblock%}