{% extends 'base.html'%}
{%load bootstrap3%}

{% block content %}
<div class="container-fluid">
  <br>
  <br>
  
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <div class="card">
          <br>
            <div class="card-header" style="border:none;background-color: black;color:#8da242;text-align: center;">NEW PROJECT</div>
            <div class="card-body text-primary" style="background-color: #8da242;">
                <form  method="post" action="{%url 'post'%}" style="color:black;padding:20px;" enctype="multipart/form-data">
                  {% csrf_token %}
                  {%bootstrap_form form%}
                  <div class="form-group w3-center">
                    <br>
                    <br>
                    <input type="submit" style="background-color:black; color:#a7bc5b;padding:10px;margin-left:40%;margin-right:30%;border:none" value="Post">
                  </div>
                  <input type="hidden" name="next" value="{{next}}">
                </form>
            </div>
          </div>
    </div>
    
  </div>
  <br>
    <br>
    <br>
</div>
{{form.media}}
{%endblock%}