{% extends 'base.html' %}
{% load static %}
{% block styles%}
{{block.super}}
<link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<header>

		<div class="container">
	
			<div class="profile">
	
				<div class="profile-image">
						{% if my_profile %}
						<img class="img-fluid rounded-circle" style="border-radius:60px;border:4px solid #8da242;width:10%;height:10%" src="{{my_profile.profilepic.url}}" alt="profile">
				</div>
				<div class="profile-bio" style="float: right;">
	
					<p> Bio:<br> {{i.bio}}</p>
	
				</div>
				<br>
				<br>
				<div class="profile-user-settings">
	
					<h1 class="profile-user-name">{{my_profile.user}}</h1>
	
					<a href="{%url 'edit'%}"><button class="btn " style="color:black;background-color:#8da242">EDIT PROFILE</button></a>
	
				</div>
				
				{%else%}
				<div class="alert">
				<p class="animated fadeIn alert alert-info">Update profile first <br>
				<a href="{%url 'edit'%}"><button class="btn profile-edit-btn">Edit Profile</button></a>
				</p>

        		</div>
        		{%endif%}
			</div>
			<!-- End of profile section -->
	
		</div>
		<hr>
		<br>
	</header>
    
<div class="container">
	<br>
	<h3 style="text-align:center;color:#8da242;font-size: 30pt;"><u>YOUR PROJECTS</u></h3>
    <br>
    {% if projects %}
    <div class="photos">
      {% for project in projects %}
      <div class="photo" style="background-color: black;">
			 <h3 style="text-align: center;color:#a7bc5b">{{project.title}}</h3>
             <img class="card-img-top" src="{{project.landing_page.url}}" alt="Card image cap">
             <p class="card-text" style="color:#a7bc5b"><strong>{{project.description | truncatechars_html:170}}</p>
             <a href="http://{{project.live_link}}" class="view">Live site</a>
             <a href="/project/{{project.id}}" class="view1" style="color:#a7bc5b" >Review</a>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p style="background-color: #8da242;color: black;" class="animated fadeIn alert alert-info">No projects posted yet <br>
	{% endif %}
	<br>
	<br>
	<br>
</div>
{% endblock %}