{% extends 'base.html' %}

{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <br>
  <br>
  <div class="row">
      <div class="col-sm-6 offset-sm-6 two">
          <div class="card" style="background-color: black;" >
                <img class="card-img-top" src="{{project.landing_page.url}}">
                <br>
                <h4 class="card-title" style="color:#a7bc5b;text-align: center;"> {{project.title}}</h4>
                <hr style="color:#a7bc5b">
                <div style="color:#a7bc5b">
                    <p class="card-text" style="color:#a7bc5b">{{project.description |truncatechars_html:170}}</p>
                </div>
                <br>
                <br>
                <hr>
                <br>
                <p class="view" style="color:#a7bc5b">Owned by:<br><strong>{{project.user}}</strong></p>
                <a href="{{project.live_link}}" style="color:#a7bc5b" class="view1"><p style="color:#a7bc5b">Live site <i class="fas fa-angle-double-right" style="color:#a7bc5b"></i></p></a>
            
            </div>
      </div>
      
  </div>
  <br>
  <br>
</div>
<div class="container-fluid">
   

    <div class="row">
        <div class="col-sm-6 offset-sm-6 two">
            <div class="card border-primary" style="background-color: #a7bc5b;border:none">
                <div class="card-header" style="text-align: center;"><strong>RATE IT</strong></div>
                <br>
                <p style="color:white;text-align: center;"> (You can only rate once)</p>
                <br>
                <div class="card-body text-primary">
                    <form  style="color:black;margin-right:20%;margin-left:20%;text-align: center;" action="/project/{{project.id}}" method="post" enctype="multipart/form-data" id="votes-form">
                      {%csrf_token%}
                    
                      {% bootstrap_form form%}
                      <div class="text-center">
                        <input id="votes-input"type="submit" style="background-color:black; color:#a7bc5b"class="btn" value="Post">
                        </div>
                    </form>
                </div>
              </div>
        </div>
        <div class="col-sm-6 col-2 fixed-top one" style="margin-top: 13%">
          <h3 style="text-align: center;color:#8DA242"><u>PROJECT RATINGS</u></h3>
            <table class="table" style="background-color: #a7bc5b;">
              <thead>
                <tr>
                  <th scope="col">Username</th>
                  <th scope="col">Design</th>
                  <th scope="col">Usability</th>
            
                  <th scope="col">Creativity</th>
                  <th scope="col">Content</th>
                  <th scope="col">Overall Score</th>
                </tr>
              </thead>
              <tbody>
                    {% if ratings%}
                {% for rating in ratings%}
                <tr>
                  <td>{{rating.profile.user}}</td>
                  <td>{{rating.design}}</td>
                  <td>{{rating.usability}}</td>
                  <td>{{rating.creativity}}</td>
                  <td>{{rating.content}}</td>
                  <td>{{rating.overall_score}}</td>
                </tr>
            
            {% endfor%}
            </tbody>
            </table>
            <table class="table table" style="background-color: #a7bc5b;">
                <thead>
                  <tr>
                    <th scope="col">Average</th>
                    <th scope="col">Design</th>
                    <th scope="col">Usability</th>
              
                    <th scope="col">Creativity</th>
                    <th scope="col">Content</th>
                    <th scope="col">Overall Score</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Average</td>
                    <td>{{total_design}}</td>
                    <td>{{total_usability}}</td>
                    <td>{{total_creativity}}</td>
                    <td>{{total_content}}</td>
                    <td>{{project.overall}}</td>
                  </tr>

              </tbody>
              </table>
            {%else %}
            <h3 class="text-center">No ratings made for this project yet</h3>
            <hr>
            {% endif %}
        </div>
      </div>
      <br>
      <br>
      <br>
</div>




{% endblock %}