{% extends 'base.html' %}
{% block content %}
<div class="container">
  <br>
  <br>
  <div class="result">
    {% if projects %}
      <h2 class="result-message">Found {{projects|length }} project(s) related to {{message}}</h2>
    {% else %}
      <h3 class="result-message"> Found no projects related to {{message}}</h3>
      <hr>
      <br>
      <br>
      <br>
      <div class='container1'>
        <div class='tear'></div>
        <div class='tear2'></div>
        <div class='face'>
            <div class='eyebrow'>︶</div>
            <div class='eyebrow'>︶</div>
            <div class='eye'></div>
            <div class='eye'></div>
            <div class='mouth'></div>
        </div>
      </div>
    {% endif %}
    <br>
    

    <div class="photos">
      {% for project in projects%}
       <div class= "photo" style="background-color: black;">
         <h2 class="head" style="color:#8da242">{{project.title}}</h2>
         <a><img style="width:60%;height:50%;margin-left:10%" src="{{project.landing_page.url}}"></a>
         <hr>
         <p class="bodies" style="color:#8da242;font-size:medium; ">{{project.description |truncatechars_html:170}}</p>
         <a class="view" href='{{project.live_link}}'>Live link</a>
         <a href="/project/{{project.id}}" class="view1"><span class='owner'style="color:#8da242;"> Review</span></a>
       </div>
      {% endfor %}
    </div>
    <br>
    <br>
    <br>
  </div>
</div>

{% endblock %}


